@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Merienda:wght@800&family=Nunito&family=Nunito+Sans:opsz@6..12&family=Quicksand&family=Roboto:wght@300&family=Share+Tech+Mono&display=swap');
:root{
    --main-color:#be9c79;
    --black:#333;
    --white:#fff;
    --light-color:#666;
    --border:1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Nunito', sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

.section{
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: var(--box-shadow);
    z-index: 1000 ;
}
.header .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1.5rem 2rem;
}
.header .flex .logo img{
    height: 10rem;
}

*::selection{
    background-color: var(--main-color);
    color: white;
}
::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
.header .flex .navbar a{
    margin-left: 2rem;
    font-size: 2rem;
    color: var(--black);
}
.header .flex .navbar a:hover{
    text-decoration: underline;
    color: var(--main-color);
}
#menu-btn{
    display: inline-block; 
    font-size: 2.5rem;
    color: var(--black);
    cursor: pointer;
}
#menu-btn.fa-times{
    transform: rotate(180deg);
}
.header nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
.header nav ul li{
  margin: 0 1.5rem;
}
.header nav ul li a{
    font-size: 2rem;
    color: #666;
}
.header nav ul li a:hover{
    color: rgb(161, 77, 77);
    text-decoration: none;
}

.header .fa-bars{
    font-size:2.5rem  ;
    color: #666;
    cursor: pointer;
}

.home-bg{
    background: linear-gradient(90deg,var(--white),transparent 70%),url(./Main.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.home-bg .home{
    min-height: 70rem;
    display: flex;
    align-items: center;

}
.home-bg .home .content h3{
    font-size: 6rem;
     color: var(--black);
     font-family: 'Merienda One',cursive;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    background-color: var(--main-color);
    cursor: pointer;
    color: var(--white);
    font-size: 1.8rem;
    padding: 1rem 3rem;
}
.btn:hover{
    background-color: var(--black);
}
.home-bg .home .content{
    width: 100%;
    align-items: center;
    text-align: center;
}
.home-bg .home .content p{
 padding: 1rem 0;
 font-size: 1.6rem;
 color: var(--black);
 line-height: 2;
 text-align: center;
}
.home-bg .home .content b{
    padding: 1rem 0;
    font-size: 2.6rem;
    color: var(--black);
    line-height: 2;
    text-align: center;
   }
.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2 rem;
}
.about .image{
    flex: 1 1 40rem;
}
.about .image img{
    width: 70%;
}
.about .content{
  flex: 1 1 40rem;
}
.about .content h3{
    font-size: 3.5rem;
    color: var(--black);
    font-family: 'Marienda One',cursive;
    padding-bottom: 1rem;
}
.about .content p{
    padding: 1rem 0;
    line-height: 2;
    color: var(--light-color);
    font-size: 1.5rem;
}
.heading{
    text-align: center;
    margin-bottom: 2rem;
}
.heading img{
    height: 20rem;
    margin-bottom: 1rem;
}
.heading h3{
    font-size:4rem ;
    color: var(--black);
    font-family: 'Merinda One',cursive;
}
.facility .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(27rem,1fr));
    gap: 1.5rem;
    align-items: flex-start;
}
.facility .box-container .box{
    text-align: center;
}
.facility .box-container .box img{
    height: 10rem;
}
.facility .box-container .box h3{
    font-size: 2.5rem;
    color: var(--black);
    font-family: 'Marienda One',cursive;
    padding-bottom: 1rem;
    margin: 1rem 0;
}
.facility .box-container .box p{
    padding: 1rem 0;
    line-height: 2;
    color: var(--light-color);
    font-size: 1.5rem;
}


.menu .heading h3{
    font-size:4rem ;
    color: var(--black);
    font-family: 'Merinda One',cursive;
}
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(27rem,1fr));
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center; 
}
.menu .box-container .box{
    text-align: center;
}
.menu .box-container .box img{
    height: 15rem;
    width: 25rem;
}
.menu .box-container .box h3{
    padding: 1rem 0;
    line-height: 2;
    color: var(--light-color);
    font-size: 2rem;
}

.gallery .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(27rem,1fr));
    gap: 2rem;
    justify-content: center; 
}
.gallery .box-container img{
    height: 70%;
    width: 100%;
    object-fit: cover;
}
.contact .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.contact .row form{
    flex: 1 1 30rem;
    padding: 2rem;
    border: 1px solid black;
    text-align: center;
}

.contact .row form .box{
    width: 100%;
    padding: 1.4rem;
    font-size: 1.8rem ;
    color: var(--black);
    border: 1px solid black;
    margin: 1rem 0;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(27rem,1fr));
    gap: 1rem;
    align-items: flex-start;
}
.footer .box-container .box{
    text-align: center;
}
.footer .box-container .box i{
    margin: 2rem 0;
    font-size: 2rem;
    line-height: 6rem;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-color: var(--main-color);
    color:var(--white);
    margin-bottom: .5rem;
}
.footer .box-container .box h3{
    margin: 5px 0;
    font-size: 2rem;
    color: var(--black);
}
.footer .box-container .box p{
    line-height: 2;
    font-size: 1.6rem;
    color: var(--black);
}
.footer .credit{
    text-align: center;
    margin-top: 3rem;
    padding-top: 2.5rem;
    border-top: 1px solid black;
    font-size: 2rem;
    color: var(--black);
}
.footer .credit span{
    color: var(--main-color);
    font-size: 2rem;
}

